
html{
  background-color: #222;
  color: whitesmoke;
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta Malar", sans-serif;
}

.first-line{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;

  animation: enhance-header linear both 1s;
    animation-timeline: scroll(root);
    animation-range: 0 300px;
    z-index: 1;
}

.menu{
  display: flex;
  gap: 1rem;
}

.dropdown{
  display: none;
}

.menu:hover{
  color: #aaa;
  .dropdown, .dropdown:hover{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    background-color: #444;
    padding: 1rem;
    border-radius: 5px;
    top: 33px;
    left: 1rem;
    width: 25%;
  }
}

.menu-title{
  font-size: 1.2rem;
  font-weight: 500;
  color: #aac;
}

.dropdown-content{
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.bienvenidos{
  display:flex;
  align-items: center;
  gap: 1rem
}

.social-media{
  display: flex;
  gap: 1rem;
  align-items: center;
}

a{
  color: whitesmoke;
  text-decoration: none;
}
a:hover{
  color: #aaa;
  cursor: pointer;
}

.main-title{
  height: 95vh;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
}

.main-title h1{
  font-weight: 400;
  color: #fff;
  font-family: "Anton", sans-serif;
}

.h4{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  font-family: "Mutka Malar", sans-serif;
}

.h4 div{
  color: #eee;
  font-weight: 300;
  font-size: 1.4rem;
  gap: .8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shown-menu{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  font-size: 1.1rem;
}

.shown-menu a{
  color: #bbb;
}

.shown-menu a:hover{
  color: #ddd;
}

.about{
  padding: 4rem 0;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(150px, 1fr));
  gap: 2rem;
  padding: 2rem;
  margin: 3rem 0;
}

.about-title{
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-family: "Anton", sans-serif;
}

.grid div{
  background-color: #333;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.how:hover, .why:hover, .where:hover, .who:hover, .thanks:hover{
  background-color: #444;
  scale: 1.1;
  box-shadow: 0 0 5px #333;
}

.imagen-mati{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 0;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.imagen-mati:hover{
  scale: 1.1;
}

.who{
  grid-area: 1 / 1 / 2 / 3;
}

.img{
  grid-area: 2 / 2 / 4 / 4;
}

.who, .where, .why, .how, .thanks{
  padding: 1rem;
  text-align: center;
  gap: 1rem;
}

.how p, .why p, .where p, .who p, .thanks p{
  display: none;
  transition: all 0.2s ease-in-out;
}
.how:hover p, .why:hover p, .where:hover p, .who:hover p, .thanks:hover p{
  display: block;
  font-size: .9rem;
}
.how:hover h1, .why:hover h1, .where:hover h1, .who:hover h1, .thanks:hover h1{
  display: none;
}

.clients{
  height: 60vh;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.clients p{
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding: 0 1rem;
}

.clients-logos{
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 1rem;
}

.clients-logos img{
  transition: all 0.2s ease-in-out;
}

.clients-logos img:hover{
  cursor: pointer;
  scale: 1.08;
  box-shadow: 0 0 5px #5559;
}

.trusted{
  font-family: "Mukta Malar", sans-serif;
}

.logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.methods{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 0 0;
}

.methods-title{
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding: 1rem 1rem;
}

.methods-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.method{
  padding: 1rem;
  background-color: #555;
  border-radius: 5px;
  width: 80%;
  box-shadow: 1px 1px 5px #444;
}

.methods-contact{
  background-color: #117399;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-weight: bold;
  margin: 1rem auto 7rem auto;
  transition: background-color 0.15s ease-in-out;
}

.methods-contact:hover{
  background-color: #0f5b7e;
  cursor: pointer;
  color: #ddd;
}

.method h6{
  font-size: 1.5rem;
  color: #fff;
  padding: .8rem 0 2rem 0;
}

.method p{
  font-size: 1.1rem;
  color: #fff;
  padding: 0 0 .5rem 0;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #3339;
}

.social-footer{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.corta-footer{
  font-family: "Mukta Malar", sans-serif;
}

@keyframes enhance-header{
  to{
      background: #2225;
      backdrop-filter: blur(2rem);
  }    
}

@media (min-width: 1200px) {
  html{
    margin: auto;
    max-width: 70%;
  }
  .grid{
    max-width: 90%;
    grid-template-columns: repeat(3, minmax(50px, 250px));
    grid-template-rows: repeat(3, minmax(100px, 250px));
    margin: auto;
    justify-content: center;
  }
  .footer{
    background-color: transparent;
  }
}

@media (max-width: 1200px) {
  .grid{
    max-width: 90%;
    grid-template-columns: repeat(3, minmax(50px, 300px));
    grid-template-rows: repeat(3, minmax(100px, 250px));
    margin: auto;
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .grid{
    max-width: 90%;
    grid-template-columns: repeat(3, minmax(50px, 300px));
    grid-template-rows: repeat(3, minmax(100px, 275px));
    margin: auto;
    justify-content: center;
  }
  .about-title{
    font-size: 1.8rem;
  }
  .how h1, .why h1, .where h1, .who h1, .thanks h1{
    font-size: 1.5rem;
  }
  .how:hover p, .why:hover p, .where:hover p, .who:hover p, .thanks:hover p{
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .how, .why, .where, .who, .thanks{
    padding: .5rem;
  }
}

@media (max-width: 700px) {
  .grid{
    grid-template-columns: repeat(3, minmax(50px, 250px));
    grid-template-rows: repeat(3, minmax(100px, 250px));
    margin: auto;
    justify-content: center;
    padding: 3rem 0rem;
    gap: 1.3rem;
  }
  .how:hover, .why:hover, .where:hover, .who:hover, .thanks:hover{
    scale: 1.15;
  }
  .imagen-mati:hover{
    scale: 1.05;
  }
  .about-title{
    font-size: 1.5rem;
  }
  .how h1, .why h1, .where h1, .who h1, .thanks h1{
    font-size: 1.2rem;
  }
  .how:hover p, .why:hover p, .where:hover p, .who:hover p, .thanks:hover p{
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .bienvenidos{
    font-size: 0.9rem;
  }
  .shown-menu{
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .how:hover p, .why:hover p, .where:hover p, .who:hover p, .thanks:hover p{
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .dropdown-content{
    line-height: .8rem;
  }
}

@media (max-width: 450px) {
  .grid{
    grid-template-columns: repeat(3, minmax(50px, 250px));
    grid-template-rows: repeat(3, minmax(100px, 225px));
    margin: auto;
    justify-content: center;
    padding: 3rem 0rem;
  }
  .about-title{
    font-size: 1.3rem;
  }
  .how h1, .why h1, .where h1, .who h1, .thanks h1{
    font-size: 1rem;
  }
  .how:hover p, .why:hover p, .where:hover p, .who:hover p, .thanks:hover p{
    font-size: 0.6rem;
    line-height: .8rem;
  }
  .footer{
    font-size: .8rem;
  }
  .bienvenidos{
    font-size: .8rem;
  }
  .social-media{
    display: none;
  }
  .clients p{
    font-size: 1.3rem;
  }
  .methods-title{
    font-size: 1.5rem;
  }
  .method h6{
    font-size: 1rem;
    padding: .8rem 0 1rem 0;
  }
  
  .method p{
    font-size: 0.7rem;
  }
}


@media (max-width: 350px) {
    .dropdown, .dropdown:hover{
      width: 40%;
    }

  .grid{
    grid-template-columns: repeat(3, minmax(50px, 250px));
    grid-template-rows: repeat(3, minmax(100px, 205px));
    gap: 1rem;
  }
  .grid div:hover{
    scale: 1.1;
  }
  .about-title{
    font-size: 1.3rem;
  }
  .how h1, .why h1, .where h1, .who h1, .thanks h1{
    font-size: 0.85rem;
  }
  .how:hover p, .why:hover p, .where:hover p, .who:hover p, .thanks:hover p{
    font-size: 0.5rem;
    line-height: .7rem;
  }
  .clients{
    height: 40vh;
  }
  .clients p{
    font-size: 1rem;
  }
  .clients-logos img{
    width: 80px;
    height: 80px;
  }
  .methods-title{
    font-size: 1.2rem;
  }
}
