
html{
  background-color: #222;
  color: whitesmoke;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-line{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;

  animation: enhance-header linear both 1s;
    animation-timeline: scroll(root);
    animation-range: 0 300px;
    z-index: 1;
}

.menu{
  display: flex;
  gap: 1rem;
}

.menu:hover{
  color: #aaa;
}

.bienvenidos{
  display:flex;
  align-items: center;
  gap: 1rem
}

.social-media{
  display: flex;
  gap: 1rem;
  align-items: center;
}

a{
  color: whitesmoke;
  text-decoration: none;
}
a:hover{
  color: #aaa;
  cursor: pointer;
}

.main-title{
  height: 95vh;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.main-title h1{
  font-weight: 400;
  color: #fff;
}

.h4{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.h4 div{
  color: #eee;
  font-weight: 300;
  font-size: 1.4rem;
  gap: .8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
  margin: 3rem 0;
}

.about-title{
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.grid div{
  background-color: #333;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.grid div:hover{
  background-color: #444;
  scale: 1.15;
  box-shadow: 0 0 5px #333;
}

.imagen-mati{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 0;
  object-fit: cover;
}

.who{
  grid-area: 1 / 1 / 2 / 3;
}

.img{
  grid-area: 2 / 2 / 4 / 4;
}

.who, .where, .why, .how, .thanks{
  padding: 1rem;
  text-align: center;
  gap: 1rem;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #3339;
}

.social-footer{
  display: flex;
  flex-direction: column;
  text-align: right;
}

@keyframes enhance-header{
  to{
      background: #2225;
      backdrop-filter: blur(2rem);
  }    
}